.aside {
    @include clearfix;
    margin: 0 0 50px;
    padding-top: 20px;

    @include breakpoint($tablet) {
        padding-top: 40px;
    }

    .aside__content {
        overflow: hidden;
    }

    &__inner {
        background-color: #CFDEEB;
        padding: 20px;

        @include breakpoint($tablet) {
            padding: 40px;
        }
    }

    &__img {
        margin: -20px -20px 20px;

        @include breakpoint($mobile_lrg) {
            margin-left: 0;
            margin-right: 0;
            margin-top: -40px;
        }

        @include breakpoint($tablet) {
            margin: -80px 0 40px 0;
        }

        @include breakpoint($tablet_lrg) {
            margin-right: 40px;
        }
    }

    &--dark {
        .aside__inner {
            background-color: $grey5;
            color: $white;
        }
    }

    &--img-right {
        @include breakpoint($tablet) {
            padding-top: 0;
            padding-right: 40px;
        }

        .aside__img {
            @include breakpoint($tablet) {
                float: right;
                margin: 0 -100px 40px 20px;
                padding: 0 20px 0 0;
                width: 50%;
            }
        }
    }
}