.aside {
    @include clearfix;
    margin: 0 0 50px;
    padding-top: 20px;

    @include breakpoint($tablet) {
        padding-top: 40px;
    }

    .aside__content {
        overflow: hidden;

      footer.alt-footer-line {
        @include decorateWithLine(#fff, before, 1px);
      }
    }

    &__inner {
        background-color: #CFDEEB;
        padding: 20px;

        @include breakpoint($tablet) {
            padding: 40px;
        }
    }

    &__img {
        margin: -20px -20px 20px;

        @include breakpoint($mobile_lrg) {
            margin-left: 0;
            margin-right: 0;
            margin-top: -40px;
        }

        @include breakpoint($tablet) {
            margin: -80px 0 40px 0;
        }

        @include breakpoint($tablet_lrg) {
            margin-right: 40px;
        }
    }

    &--secondary {
        .aside__inner {
            background-color: $grey5;
            color: $white;
        }
    }

    &--tertiary {
        .aside__inner {
            background-color: $red;
            color: $white;
        }

        blockquote {
            footer {
                &:before {
                    border-color: $redDark;
                }
            }
        }


    }

    &--img-right {
        @include breakpoint($tablet) {
            padding-top: 0;
            padding-right: 40px;
        }

        .aside__img {
            @include breakpoint($tablet) {
                float: right;
                margin: 0 -100px 40px 20px;
                padding: 0 20px 0 0;
                width: 50%;
            }
        }
    }

    &--sub {
        margin-top: 45px;
    }

    &--white {
        background-color: $white;
        padding-top: 0;
        .image {
            margin: 0;
        }
        .aside__inner {
            background: none;
        }
    }
}