.banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;

    @include breakpoint($mobile_lrg) {
        height: 350px;
    }

    @include breakpoint($tablet_lrg) {
        height: 500px;
    }
}