.cta {
    @include clearfix;

    &__content {
        padding: 30px 20px 10px;

        @include breakpoint($mobile_lrg) {
            padding: 30px 30px 10px;
        }
    }

    &--arrow-link {
        position: relative;
        font-size: 2.4rem;
        text-decoration: underline;
        &:after {
            content: "  >>";
        }
    }
}