.hero {
    @include clearfix;
    background-color: #C1CDCD;
    position: relative;

    @include breakpoint($mobile_lrg) {
        margin-bottom: 70px;
    }

    &__inner {
        @include max-width-container;

        @include breakpoint($mobile_lrg) {
            display: flex;
            flex-direction: row-reverse;
            padding: 0 20px;
        }
    }

    &__img {
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 85% auto;
        min-height: 300px;

        @include breakpoint($mobile_lrg) {
            background-size: 100% auto;
            flex: 1;
        }

        @include breakpoint($tablet) {
            background-size: auto 80%;
            min-height: 400px;
        }

        @include breakpoint($tablet_lrg) {
            background-size: 100% auto;
            min-height: 650px;
        }
    }

    &__content {
        @include clearfix;
        background-color: $grey1;
        padding: 40px 20px 10px;

        @include breakpoint($mobile_lrg) {
            background-color: transparent;
            flex-basis: 46%;
            padding-bottom: 60px;
        }

        @include breakpoint($tablet) {
            padding: 90px 30px 60px 20px;
        }
    }

    &--where-to-find {
        background-color: #D4DBDB;
        margin: 0 -20px 25px;

        @include breakpoint($tablet) {
            margin: 0 -40px 50px;
        }

        .hero__inner {
            min-height: 650px;

            @include breakpoint($mobile_lrg) {
                flex-direction: row;
            }
        }
        .hero__img {
            background-position: center 70px;
            background-size: auto 433px;
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 399;

            @include breakpoint($mobile_lrg) {
                background-position: top -250px right -50px;
                background-size: auto 150%;
            }

            @include breakpoint($desktop) {
                background-position: top -250px right 50px;
            }

            @include breakpoint($desktop_lrg) {
                background-position: top -250px left 70%;
            }
        }

        .hero__content {
            background-color: transparent;
            padding-bottom: 0;
            padding-top: 30px;
            z-index: 400;

            h2 {
                margin-bottom: 465px;

                @include breakpoint($mobile_lrg) {
                    margin-bottom: 20px;
                    margin-top: 100px;
                }
            }
        }
    }
}

.hero-text {
    @include clearfix;
    padding: 0 20px;
    position: relative;

    @include breakpoint($tablet) {
        padding: 0 40px;
    }

    &__inner {
        @include max-width-container;
        padding-top: 30px;
        position: relative;
        margin-bottom: 40px;

        @include breakpoint($mobile_lrg) {
            padding-top: 70px;
        }
    }

    &__title {
        background-color: $red;
        color: $white;
        margin-bottom: 40px;
        padding: 25px 35px 25px 25px;
        position: relative;
        z-index: 501;

        @include breakpoint($mobile_lrg) {
            width: 55%;
        }

        @include breakpoint($tablet_lrg) {
            padding: 45px 70px 45px 50px;
        }
    }

    &__text {
        @include decorateWithLine($red, after, 50px);
        z-index: 501;
        position: relative;

        @include breakpoint($mobile_lrg) {
            width: 40%;
        }

        @include breakpoint($tablet_lrg) {
            width: 40%;
        }
    }

    &__img {
        @include breakpoint($mobile_lrg) {
            margin-top: 40px;
            width: 50%;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 500;
        }
    }
}