.masthead {
    @include clearfix;
    height: 70px;
    padding: 30px 0;

    @include breakpoint($tablet) {
        height: 80px;
    }

    &__brand {
        float: left;
        margin-left: 40px;

        .logo {
            float: left;
            position: relative;
            top: -13px;
        }

        &-text {
            color: $defaultTextColor;
            float: left;
            font: bold 2.4rem/3.6rem $fontSecondary;
            margin-left: 30px;
            position: relative;
            top: -8px;
        }
    }

    &__nav {
        @include breakpoint($tablet) {
            float: right;
            margin-top: 4px;
        }

        li {
            float: left;
            font-size: 1.6rem;
            margin: 0 40px 0 0;

            &.masthead__nav-current {
                font-weight: bold;
            }
        }

        a {
            color: $defaultTextColor;
            text-decoration: none;
        }
    }
}