.readmore-link {
    font-family: $fontSecondary;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;

    span {
        flex: 1;
        margin-right: 5px;
    }

    i {
        width: 25px;

        &:before,
        &:after {
            content: '';
            border: 1px solid $blue;
            border-left: 0;
            border-bottom: 0;
            display: inline-block;
            width: 8px;
            height: 7px;
            transform: rotate(45deg);
            margin: auto 0;
        }

        &:after {
            right: 8px;
        }
    }

    .smaller & {
        &:before,
        &:after {
            height: .7rem;
            top: 7px;
            width: .7rem;
        }
    }
}