<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Civil Service Careers | UI</title>

    <link rel="stylesheet" href="/style.css">

    <!--[if lt IE 9]>
    <script src="/assets/js/vendor/respond/src/respond.js"></script>
    <script src="/assets/js/vendor/rem/rem.js"></script>
    <script src="/assets/js/vendor/tiny-slider/dist/min/tiny-slider.helper.ie8.js"></script>
    <![endif]-->

</head>

<body>

<div class="skiplink">
    <a href="#content">Skip to main content</a>
</div>

<div id="global-cookie-message">
    <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
</div>

<!-- masthead -->
<header class="masthead" role="banner">
    <div class="masthead__brand">
            <span class="logo logo--horizontal">
                <span class="logo__text">Civil Service</span>
            </span>
        <span class="masthead__brand-text">Careers</span>
    </div>
    <nav class="masthead__nav">
        <ul class="masthead__menu" id="nav">
            <li><a href="">Home</a></li>
            <li class="masthead__nav-current"><a href="" aria-current="page">Departments</a></li>
            <li><a href="">About the Civil Service</a></li>
            <li><a href="">Areas of Work</a></li>
        </ul>
    </nav>
</header>
<!-- /masthead -->

<!-- top job link -->
<div class="topjobs">
    <div class="topjobs__inner">
        <div class="topjobs__text">
            <p>Interested in knowing what jobs are available?</p>
        </div>
        <div class="topjobs__link">
            <a href="#" class="button">Find a Civil Service job</a>
        </div>
    </div>
</div>
<!-- /top job link -->

<!-- beta banner -->
<div class="beta-banner">
    <div class="beta-banner__inner">
        <p>This is a pre-release version of our website. Your <a href="#">feedback</a> will help us to improve.</p>
    </div>
</div>
<!-- /beta banner -->

<!-- banner -->
<div class="banner">
    <style type="text/css">
        .banner {
            background-image: url(https://placebear.com/800/500);
        }
        @media (min-width: 768px) {
            .banner {
                background-image: url(https://placebear.com/1400/600);
            }
        }
    </style>
</div>
<!-- /banner -->

<main id="content" role="main">

    <!-- about-intro -->
    <div class="about-intro">
        <div class="department-intro">
            <div class="department-intro__inner">
                <div class="department-intro__head">
                    <div class="department-intro__head-logo">
                        <span class="logo">
                            <span class="logo__text">Department for<br />Business, Energy<br />&amp; Industrial Strategy</span>
                        </span>
                    </div>
                    <h1 class="department-intro__head-title">Working for the Department of max content quantity for this H1 page element</h1>
                </div>
                <div class="department-intro__content"></div>
            </div>
        </div>
        <div class="content-two-col content-two-col--stacked-left">
            <div class="content-two-col__inner">
                <div class="content-two-col__first">
                    <p class="intro">Nam a dolor at velit tincidunt dictum. Proin congue sed tortor finibus placerat. Curabitur viverra sed elit eu sollicitudin. Aliquam a enim ut quam feugiat luctus.</p>
                    <p class="intro">Sed facilisis, tellus quis malesuada placerat, arcu lacus efficitur sem, eget dapibus urna ligula in massa.</p>
                </div>
                <div class="content-two-col__last">
                    <p class="intro">Nam a dolor at velit tincidunt dictum. Proin congue sed tortor finibus placerat. Curabitur viverra sed elit eu sollicitudin. Aliquam a enim ut quam feugiat luctus. Phasellus et magna ac mauris volutpat vulputate eget pharetra ipsum. Vestibulum eu auctor velit.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /about-intro -->

    <!-- white image strip -->
    <div class="wrapper wrapper--white">
        <div class="content-two-col content-two-col--middle-align">
            <div class="content-two-col__inner">
                <div class="content-two-col__first">
                    <div class="image image--spaced">
                        <img src="https://placebear.com/900/600" alt="Image alt here">
                    </div>
                </div>
                <div class="content-two-col__last">
                    <p class="intro">Lorem ipsum general story about the dept I work in and how the culture is great and my background implicitly demonstrates our commitment to diversity instead of just saying it.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /white image strip -->


    <div class="content-two-col content-two-col--stacked-left">
        <div class="content-two-col__inner">
            <div class="content-two-col__first">
                <h2>Putting our customers and people first</h2>
                <p>We are one of the country’s largest employers, with almost 60,000 people working across the UK. Here, you could be helping customers with their tax queries, designing cutting edge digital services, tracking down international tax avoiders, or making sure trade flows smoothly in and out of the country.</p>
                <p>Whatever your role, you’ll be amongst people with an incredible range of skills and experience. Our strength as an organisation is in our diverse people, ideas and backgrounds, and the inclusive working culture that brings us together.
                </p>
                <div class="image image--spaced"><img src="https://www.civil-service-careers.gov.uk/wp-content/uploads/putting-our-customers-first.jpg" alt="Putting Our Customers First"></div>
                <p>But it’s not just what we do, it’s how we do it. Almost everyone comes into contact with us at some point. This makes customer service central to everything we do. In fact our work is as much about people as it is about money.</p>
            </div>
            <div class="content-two-col__last">
                <div class="aside aside--img-top">
                    <div class="aside__inner">
                        <div class="aside__img">
                            <img src="https://www.civil-service-careers.gov.uk/wp-content/uploads/hardik-shah-deputy-director-information-and-digitial-405x304.jpg" alt="Hardik Shah Deputy Director Information And Digitial">
                        </div>
                        <blockquote class="aside__content">
                            <p>We serve the whole of the UK, and with our diverse workforce we are truly representative of the diverse nature of our customers, and so have a better understanding of their needs.</p>
                            <footer class="alt-footer-line">Hardik Shah<strong>Deputy Director, Information and Digital Group</strong></footer>
                        </blockquote>

                        <div class="aside--sub">
                            <h3 class="intro">A Title</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam urna, vehicula congue ante in, vulputate lacinia tortor. Maecenas nec leo metus.
                            Nullam pretium mauris libero, ac auctor ante ornare sit amet. Donec vehicula, diam ultricies accumsan molestie, massa erat viverra purus, eget mattis dolor ex vitae lacus.
                            Vestibulum vestibulum nec leo sed finibus.</p>

                            <p>Pellentesque suscipit maximus faucibus. Curabitur lobortis in massa sit amet volutpat. Aliquam eu arcu sapien.
                            Fusce pharetra, leo laoreet pellentesque pulvinar, purus erat lacinia risus, vitae maximus dui arcu vitae dolor.</p>

                            <a href="#" class="cta--arrow-link">Sed id dignissim augue, quis vestibulum sapien.</a>
                        </div>

                    </div>

                </div>

                <div class="image">
                    <img src="https://www.civil-service-careers.gov.uk/wp-content/uploads/our-work-is-about-people.jpg" alt="Our Work Is About People">
                </div>

                <div class="aside aside--white">
                    <div class="aside__inner">
                        <h3 class="intro">A Title</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quam urna, vehicula congue ante in, vulputate lacinia tortor. Maecenas nec leo metus.
                            Nullam pretium mauris libero, ac auctor ante ornare sit amet. Donec vehicula, diam ultricies accumsan molestie, massa erat viverra purus, eget mattis dolor ex vitae lacus.
                            Vestibulum vestibulum nec leo sed finibus.</p>

                        <p>Pellentesque suscipit maximus faucibus. Curabitur lobortis in massa sit amet volutpat. Aliquam eu arcu sapien.
                            Fusce pharetra, leo laoreet pellentesque pulvinar, purus erat lacinia risus, vitae maximus dui arcu vitae dolor.</p>

                        <ul class="standard-list">
                            <li><strong>Fusce:</strong> quam urna, vehicula congue ante in, vulputate laci</li>
                            <li><strong>Pellentesque:</strong> suscipit maximus faucibus. Curabitur lobortis in massa sit amet volutpat. Aliquam eu arcu sapien</li>
                            <li><strong>Fipsum:</strong> orem ipsum dolor sit amet, consectetur adipiscing elit</li>
                            <li><strong>Eehicula:</strong> quam urna, vehicula congue ante in, vulputate laci</li>
                        </ul>

                        <div class="image">
                            <img src="https://www.civil-service-careers.gov.uk/wp-content/uploads/our-work-is-about-people.jpg" alt="Our Work Is About People">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- two-col-stacked-content-left -->
        <div class="wrapper wrapper--grey">
            <div class="content-two-col content-two-col--middle-align">
                <div class="content-two-col__inner">
                    <div class="content-two-col__equal">
                        <h3 class="intro">Title</h3>
                        <p>Lorem ipsum general story about the dept I work in and how the culture is great and my background implicitly demonstrates our commitment to diversity instead of just saying it.</p>
                        <a href="#" class="cta--arrow-link">Sed id dignissim augue, quis vestibulum sapien.</a>
                    </div>
                    <div class="content-two-col__equal">
                        <h3 class="intro">Title</h3>
                        <p>Lorem ipsum general story about the dept I work in and how the culture is great and my background implicitly demonstrates our commitment to diversity instead of just saying it.</p>
                        <a href="#" class="cta--arrow-link">Sed id dignissim augue, quis vestibulum sapien.</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /two-col-stacked-content-left -->

    </div>
</main>

<!-- footer -->
<footer class="footer" role="contentinfo">
    <div class="footer__inner">
        <div class="footer__cta-btn">
            <a href="#" class="button">Find a Civil Service job</a>
        </div>

        <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li class="footer__nav-item"><a href="#">Civil Service Commission</a></li>
                <li class="footer__nav-item"><a href="#">Disability Confident</a></li>
                <li class="footer__nav-item"><a href="#">Public Appointments</a></li>
                <li class="footer__nav-item"><a href="#">Priacy Policy</a></li>
                <li class="footer__nav-item"><a href="#">Gwefan yr Iaith Gymraeg</a></li>
            </ul>
        </nav>

        <div class="footer__closure">
            <div class="footer__closure-first">
                <h2>Contact us</h2>
                <p>Telephone: 020 7276 1234<br />Email: <a href="mailto:civilservice@digital.cabinet-office.org.uk">civilservice@digital.cabinet-office.org.uk</a><br />70 Whitehall London SW1A 2AS</p>
            </div>
            <div class="footer__closure-last">
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->

<span class="mobile-overlay"></span>

<script src="/assets/js/vendor/picturefill/picturefill.min.js"></script>
<script src="/assets/js/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/assets/js/scripts.js"></script>

</body>
</html>