<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Civil Service Careers | UI</title>

    <link rel="stylesheet" href="/style.css">

    <script src="/assets/js/vendor/modernizr/modernizr-custom.js"></script>

    <!--[if lt IE 9]>
        <script src="/assets/js/vendor/respond/src/respond.js"></script>
        <script src="/assets/js/vendor/rem/rem.js"></script>
    <![endif]-->

</head>

<body>

    <div class="skiplink">
        <a href="#content">Skip to main content</a>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <!-- masthead -->
    <header class="masthead" role="banner">
        <div class="masthead__brand">
            <span class="logo logo--horizontal">
                <span class="logo__text">Civil Service</span>
            </span>
            <span class="masthead__brand-text">Careers</span>
        </div>
        <nav class="masthead__nav">
            <ul class="masthead__menu" id="nav">
                <li class="masthead__nav-current"><a href="">Home</a></li>
                <li><a href="">Departments</a></li>
                <li><a href="">About the Civil Service</a></li>
                <li><a href="">Areas of Work</a></li>
            </ul>
        </nav>
    </header>
    <!-- /masthead -->

    <div class="hero-text">
        <div class="hero-text__inner">
            <div class="hero-text__img">
                <img src="/assets/images/hero-aow.png" alt="Something here" />
            </div>
            <h1 class="hero-text__title hero-text__title--alt oversized">Working in Economics, Statistics and Information Management</h1>
            <p class="hero-text__text intro">Government is transforming the way it delivers services to the public and business, and digital is at the heart of this revolution. </p>
        </div>
    </div>

    <main id="content" role="main">

        <div class="content-two-col content-two-col--stacked-left">
            <div class="content-two-col__inner">
                <div class="content-two-col__first">
                    <h2>Join the revolution</h2>
                    <p>It all started with GOV.UK, which has changed the way government speaks to people – and set new expectations from the public on how they want to access services.</p>
                    <p>Digital is how we deliver our services, but behind the technology is something far more important – an obsession with users: finding out what they need, and then delivering it to them in the simplest, clearest and fastest way possible. We help all government departments attract, develop and retain the people and skills they need to achieve the transformation they’re looking for.</p>
                </div>
                <div class="content-two-col__last">
                    <img src="https://placebear.com/900/600" alt="Image alt here">
                </div>
            </div>
        </div>

        <div class="content-two-col content-two-col--stacked-left">
            <div class="content-two-col__inner">
                <div class="content-two-col__first no-padding">
                    <img src="https://placebear.com/900/600" alt="Image alt here">
                </div>
                <div class="content-two-col__last">
                    <p>The Digital Data & Technology (DDAT) profession is there to embed digital skills within every department. We’re smart and passionate about our work, and we have big plans. We believe in developing best practice and then sharing it throughout government. You’ll be encouraged to develop your skills: our in-house GDS Academy delivers a huge range of training and development – not just in digital and data, but in project management, user experience (UX) and user research. And we’re happy for you to try them all - whatever your formal job role.</p>
                </div>
            </div>
        </div>

        <!-- wrapper -->
        <div class="wrapper wrapper--secondary">
            <div class="wrapper__inner">
                <div class="content-two-col content-two-col--reversed">
                    <div class="content-two-col__inner">
                        <div class="content-two-col__first">

                            <h2>Be at the centre of change</h2>
                            <p>We work across government. You'll be based in a particular department, but you can move around - applying your skills to areas as diverse as tax, pet passports and improving the census.</p>
                            <p>You'll also get the chance to work on huge, cross-department project like our creation of a Global Digital Marketplace, or supporting the development of smart cities Where else will you get these sort of opportunities? </p>

                        </div>
                        <div class="content-two-col__last">

                            <div class="aside aside--tertiary aside--img-top">
                                <div class="aside__inner">
                                    <div class="aside__img">
                                        <img src="https://placebear.com/900/600" alt="Image alt here">
                                    </div>
                                    <blockquote class="aside__content">
                                        <p>Lorem ipsum general story about the dept I work in and how the culture is great and my background implicitly demonstrates our commitment to diversity instead of just saying it.</p>
                                        <footer>Firstname Longnamerson <strong>Jobtitleis Areallylongonehere</strong></footer>
                                    </blockquote>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /wrapper -->

        <!-- two-col two-thirds -->
        <div class="content-two-col content-two-col--two-thirds-left">
            <h2>Are we right for each other?</h2>
            <div class="content-two-col__inner">
                <div class="content-two-col__first">
                    <p>Our people are collaborators and communicators. When you work at DDAT, we’ll expect you to contribute your skills wherever they’re needed. You’ll fit in here if you’re self-motivated and a self-starter: if you need to grab some colleagues for a sprint’s worth of experimentation (yes, we’re Agile) then we’ll support you. </p>
                    <p>Whatever your technical skills, you’ll need to share our obsessive focus on users. And we’ll support your development - with industry-leading training and a work culture where front-end developers can sit in on UX sessions, content specialists can work alongside service designers. </p>
                    <p>A lot of us work at GDS in London, but you’ll find roles in every department: there are pretty big DDAT teams in HMRC, Defra and the Department for International Trade.</p>
                </div>
                <div class="content-two-col__last">
                    <div class="item-list">
                        <h3 class="item-list__heading">We are :</h3>
                        <ul class="item-list__list">
                            <li class="item-list__item">Software engineers</li>
                            <li class="item-list__item">Software engineers</li>
                            <li class="item-list__item">Software engineers</li>
                            <li class="item-list__item">Software engineers</li>
                            <li class="item-list__item">Software engineers</li>
                            <li class="item-list__item">Software engineers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /two-col two-thirds -->

        <!-- three-col-even -->
        <div class="content-three-col">

            <div class="content-three-col__inner">
                <div class="content-three-col__first">

                    <div class="cta">
                        <img class="cta__img" src="https://placebear.com/900/600" alt="Image alt here">
                        <div class="cta__content">
                            <h3 class="cta__title"><a href="">Bettys &amp; Taylors of Harrogate win their third Queen's Award for Sustainable Development</a></h3>
                            <p>Three-time winners of the of the Award for Sustainable Development, Bettys & Taylors explain what winning a Queen's Award has meant to them this represents max preview copy.</p>
                        </div>
                    </div>

                </div>
                <div class="content-three-col__middle">

                    <div class="cta">
                        <img class="cta__img" src="https://placebear.com/900/600" alt="Image alt here">
                        <div class="cta__content">
                            <h3 class="cta__title"><a href="">Bettys &amp; Taylors of Harrogate win their third Queen's Award for Sustainable Development</a></h3>
                            <p>Three-time winners of the of the Award for Sustainable Development, Bettys & Taylors explain what winning a Queen's Award has meant to them this represents max preview copy.</p>
                        </div>
                    </div>

                </div>
                <div class="content-three-col__last">

                    <div class="cta">
                        <img class="cta__img" src="https://placebear.com/900/600" alt="Image alt here">
                        <div class="cta__content">
                            <h3 class="cta__title"><a href="">Bettys &amp; Taylors of Harrogate win their third Queen's Award for Sustainable Development</a></h3>
                            <p>Three-time winners of the of the Award for Sustainable Development, Bettys & Taylors explain what winning a Queen's Award has meant to them this represents max preview copy.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- /three-col-even -->

        <!-- two-col-even -->
        <div class="content-two-col">

            <div class="content-two-col__inner">
                <div class="content-two-col__first">
                    <div class="cta">
                        <img class="cta__img" src="https://placebear.com/900/600" alt="Image alt here">
                        <div class="cta__content">
                            <h3 class="cta__title"><a href="">Bettys &amp; Taylors of Harrogate win their third Queen's Award for Sustainable Development</a></h3>
                            <p>Three-time winners of the of the Award for Sustainable Development, Bettys & Taylors explain what winning a Queen's Award has meant to them this represents max preview copy.</p>
                        </div>
                    </div>
                </div>
                <div class="content-two-col__last">
                    <div class="cta">
                        <img class="cta__img" src="https://placebear.com/900/600" alt="Image alt here">
                        <div class="cta__content">
                            <h3 class="cta__title"><a href="">This is a short title</a></h3>
                            <p>Example shorter content will work on a concept for a future European mission to help reduce the global risk of damage caused by space weather.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /two-col-even -->

    </main>

    <!-- footer -->
    <footer class="footer" role="contentinfo">
        <div class="footer__inner">
            <div class="footer__cta-btn">
                <a href="#" class="button">Find a Civil Service job</a>
            </div>

            <nav class="footer__nav">
                <ul class="footer__nav-list">
                    <li class="footer__nav-item"><a href="#">Civil Service Commission</a></li>
                    <li class="footer__nav-item"><a href="#">Disability Confident</a></li>
                    <li class="footer__nav-item"><a href="#">Public Appointments</a></li>
                    <li class="footer__nav-item"><a href="#">Priacy Policy</a></li>
                    <li class="footer__nav-item"><a href="#">Gwefan yr Iaith Gymraeg</a></li>
                </ul>
            </nav>

            <div class="footer__closure">
                <div class="footer__closure-first">
                    <h2>Contact us</h2>
                    <p>Telephone: 020 7276 1234<br />Email: <a href="mailto:civilservice@digital.cabinet-office.org.uk">civilservice@digital.cabinet-office.org.uk</a><br />70 Whitehall London SW1A 2AS</p>
                </div>
                <div class="footer__closure-last">
                    <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v3.0</a>, except where otherwise stated</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <span class="mobile-overlay"></span>

    <script src="/assets/js/vendor/picturefill/picturefill.min.js"></script>
    <script src="/assets/js/scripts.js"></script>

</body>
</html>