<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Civil Service Careers | UI</title>

    <link rel="stylesheet" href="../css/style.css">

    <script src="../js/vendor/modernizr/modernizr-custom.js"></script>

    <!--[if lt IE 9]>
        <script src="../js/vendor/respond/src/respond.js"></script>
    <![endif]-->

</head>

<body>

    <!-- masthead -->
    <header class="masthead" role="banner">
        <div class="masthead__brand">
            <span class="logo logo--horizontal">
                <span class="logo__text">Civil Service</span>
            </span>
            <span class="masthead__brand-text">Careers</span>
        </div>
        <nav class="masthead__nav">
            <ul>
                <li><a href="">Home</a></li>
                <li class="masthead__nav-current"><a href="">Departments</a></li>
                <li><a href="">About the Civil Service</a></li>
                <li><a href="">Areas of Work</a></li>
            </ul>
        </nav>
    </header>
    <!-- /masthead -->


</body>
</html>