<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Civil Service Careers | UI</title>

    <link rel="stylesheet" href="../style.css">

    <script src="/assets/js/vendor/modernizr/modernizr-custom.js"></script>

    <!--[if lt IE 9]>
        <script src="/assets/js/vendor/respond/src/respond.js"></script>
    <![endif]-->

</head>

<body>

    <div class="skiplink">
        <a href="#content">Skip to main content</a>
    </div>

    <!-- masthead -->
    <header class="masthead" role="banner">
        <div class="masthead__brand">
            <span class="logo logo--horizontal">
                <span class="logo__text">Civil Service</span>
            </span>
            <span class="masthead__brand-text">Careers</span>
        </div>
        <nav class="masthead__nav">
            <ul class="masthead__menu" id="nav">
                <li><a href="">Home</a></li>
                <li class="masthead__nav-current"><a href="">Departments</a></li>
                <li><a href="">About the Civil Service</a></li>
                <li><a href="">Areas of Work</a></li>
            </ul>
        </nav>
    </header>
    <!-- /masthead -->

    <!-- banner -->
    <div class="banner">
        <picture>
            <source srcset="https://placebear.com/1400/600" media="(min-width: 680px)">
            <source srcset="https://placebear.com/900/600">
            <img src="https://placebear.com/900/600" alt="Image alt here">
        </picture>
    </div>
    <!-- /banner -->

    <main id="content" role="main">

        <!-- department-intro -->
        <div class="department-intro">
            <div class="department-intro__inner grid">
                <div class="department-intro__head">
                    <div class="department-intro__head-logo">
                        <span class="logo">
                        <span class="logo__text">Department for<br />Business, Energy<br />&amp; Industrial Strategy</span>
                    </span>
                    </div>
                    <h1 class="department-intro__head-title">Working for the Department of max content quantity for this H1 page element</h1>
                </div>
                <div class="department-intro__content">
                    <p class="intro">We know the value of arts, culture and sport – preserving our heritage and supporting the next generation who’ll keep the UK punching way above its weight. Our staff share this passion: we believe in the ability of digital media, culture and sport to change lives – and bring communities together.</p>
                </div>
            </div>
        </div>
        <!-- /department-intro -->

        <!-- two-col-stacked-content-left -->
        <div class="content-two-col content-two-col--stacked-left">
            <div class="content-two-col__inner">
                <div class="content-two-col__first">
                    <h2>H2 Set expectations for para copy</h2>
                    <p>Nam a dolor at velit tincidunt dictum. Proin congue sed tortor finibus placerat. Curabitur viverra sed elit eu sollicitudin. Aliquam a enim ut quam feugiat luctus. Phasellus et magna ac mauris volutpat vulputate eget pharetra ipsum. Vestibulum eu auctor velit. Duis fermentum mattis nulla, ac semper sem iaculis a.</p>
                    <p>Sed facilisis, tellus quis malesuada placerat, arcu lacus efficitur sem, eget dapibus urna ligula in massa. Praesent dictum consequat velit nec cursus. Vivamus sollicitudin porttitor sagittis. Vestibulum id ipsum leo. Nulla vulputate lacus neque. Suspendisse pulvinar.</p>

                    <div class="image image--spaced">
                        <img src="https://placebear.com/900/600" alt="Image alt here">
                    </div>

                    <p>Proin euismod est nec nulla viverra, sed feugiat odio suscipit. Suspendisse quam elit, condimentum vitae consectetur sit amet, mattis ut leo. Morbi ultrices tempor pulvinar. Aenean gravida cursus nisi, at venenatis nisl tincidunt sed. Nulla sagittis lectus velit, ac pharetra orci facilisis egestas. Ut pellentesque dignissim lacus id dignissim. Nulla eget sollicitudin lectus.</p>
                </div>
                <div class="content-two-col__last">

                    <div class="aside aside--img-top">
                        <div class="aside__inner">
                            <div class="aside__img">
                                <img src="https://placebear.com/900/600" alt="Image alt here">
                            </div>
                            <blockquote>
                                <p>Lorem ipsum general story about the dept I work in and how the culture is great and my background implicitly demonstrates our commitment to diversity instead of just saying it.</p>
                                <footer>Firstname Longnamerson <strong>Jobtitleis Areallylongonehere</strong></footer>
                            </blockquote>
                        </div>
                    </div>

                    <div class="image">
                        <img src="https://placebear.com/900/600" alt="Image alt here">
                    </div>

                </div>
            </div>
        </div>
        <!-- /two-col-stacked-content-left -->



    </main>

    <span class="mobile-overlay"></span>

    <script src="/assets/js/vendor/picturefill/picturefill.min.js"></script>
    <script src="/assets/js/vendor/jquery/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/scripts.js"></script>

</body>
</html>