.logo {
    @include clearfix;
    background: url(assets/images/cabinet-office.svg) 10px top no-repeat;
    background-size: auto 30px;
    border-left: 3px solid $red;
    color: #0b0c0c;
    display: inline-block;
    font: 400 17px/25px Helvetica, Arial;
    line-height: 1.15;
    padding: 35px 0 0 10px;
    text-decoration: none;

    @include breakpoint($tablet) {
        font-size: 22px;
    }

    &__text {
        position: relative;
        top: 4px;
    }

    &--horizontal {
        background-position: 5px center;
        background-size: 50px;
        height: 36px;
        padding: 2px 7px 2px 38px;

        @include breakpoint($tablet) {
            background-position: 10px center;
            padding: 8px 10px 8px 39px;
        }

        .logo__text {
            top: 8px;
            left: 30px;

            @include breakpoint($tablet) {
                top: 0;
            }
        }
    }

    &--small {
        @include breakpoint($tablet) {
            font-size: 18px;
        }
    }
}