// breakpoints
$mobile_sml: 360px;
$mobile_lrg: 680px;
$tablet: 768px;
$tablet_lrg: 990px;
$desktop: 1050px;
$desktop_lrg: 1200px;

// widths
$maxWidth: 1040px;

// grid
$gutter: 15px;

// pallette
$white: #FFFFFF;
$orange: #FFC861;
$red: #B61E23;      // CS Brand Red
$redDark: #8C1015;
$blue: #005ABB;     // Interaction Blue
$grey1: #F3F3F3;    // Bg Grey Light
$grey2: #DEDEDE;    // Keyline Grey
$grey3: #C9CFCF;    // CS Background Grey
$grey4: #595959;    // Text Grey 2
$grey5: #303030;    // Bg Grey Dark
$grey6: #1D1D1D;    // Text Grey 1


// colours
$defaultFocusColor: $orange;
$defaultTextColor: $grey6;
$defaultLineColor: $grey2;
$defaultLinkColor: $blue;

// font families
$fontPrimary: 'Adelle Sans';
$fontSecondary: 'Adelle Web';

// global elements
$mobile-toggle-color: $grey6;
$mobile-nav-border-color: $grey2;

// departments
$intro-background: $grey5;
$intro-color: $white;
$intro-head-title-background: $white;
$intro-head-logo-background: $grey1;

$about-intro: #AC1151; //magenta