// breakpoints
$mobile_lrg: 680px;
$tablet: 768px;

// pallette
$white: #FFFFFF;
$red: #B61E23;      // CS Brand Red
$blue: #005ABB;     // Interaction Blue
$grey1: #F3F3F3;    // Bg Grey Light
$grey2: #DEDEDE;    // Keyline Grey
$grey3: #C9CFCF;    // CS Background Grey
$grey4: #595959;    // Text Grey 2
$grey5: #303030;    // Bg Grey Dark
$grey6: #1D1D1D;    // Text Grey 1


// colours
$defaultTextColor: $grey6;
$defaultLineColor: $grey2;

// font families
$fontPrimary: 'Adelle Sans';
$fontSecondary: 'Adelle Web';