* {
    box-sizing: border-box;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $grey1;
    color: #1D1D1D;
    font-family: $fontPrimary;
    font-size: 1.6rem;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);
    color: $defaultLinkColor;
    text-decoration: none;

    &:visited {
        color: $defaultLinkColor;
    }

    &:link {
        color: $defaultLinkColor;
    }

    &:focus {
        @include focus-state();
    }

    &:hover {
        text-decoration: underline;
    }
}

h1,
h2,
h3 {
    font-family: $fontSecondary;
    font-weight: 800;

    &.has-line {
        @include decorateWithLine();
    }
}

h1,
h2,
.h1,
.h2 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin: 0 0 20px 0;

    @include breakpoint($tablet_lrg) {
        font-size: 3.2rem;
        line-height: 4rem;
    }
}

h1 {
    &.oversized {
        font-size: 2.4rem;
        line-height: 2.8rem;

        @include breakpoint($tablet_lrg) {
            font-size: 4.4rem;
            line-height: 4.8rem;
        }
    }
}

h3,
.h3 {
    font-family: $fontSecondary;
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 20px;

    @include breakpoint($tablet_lrg) {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
}

li {
    font-family: $fontPrimary;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin: 0 0 10px 0;

    @include breakpoint($tablet_lrg) {
        font-size: 2rem;
        line-height: 3.2rem;
    }
}

p {
    font-family: $fontPrimary;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin: 0 0 20px 0;

    @include breakpoint($tablet_lrg) {
        font-size: 2rem;
        line-height: 3.2rem;
    }

    &.intro {
        font-family: $fontSecondary;
        font-size: 1.9rem;
        line-height: 2.9rem;

        @include breakpoint($tablet_lrg) {
            font-size: 2.6rem;
            line-height: 3.5rem;
        }
    }

    a {
        text-decoration: underline;
    }
}

blockquote {
    p {
        font-family: $fontSecondary;
        font-size: 1.9rem;
        line-height: 2.9rem;

        @include breakpoint($tablet_lrg) {
            font-size: 2.6rem;
            line-height: 3.5rem;
        }

        &:after {
            content: '"';
        }

        &:before {
            content: '"'
        }
    }

    footer {
        @include decorateWithLine(#005192, before, 15px);
        font-size: 1.6rem;
        line-height: 1.5;
        margin-top: 20px;

        strong {
            display: block;
        }
    }
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    padding: 0 20px;

    @include breakpoint($tablet) {
        padding: 0 40px;
    }
}