* {
    box-sizing: border-box;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
}

html {
    font-size: 62.5%;
}

body {
    color: #1D1D1D;
    font-family: $fontPrimary;
    font-size: 1.6rem;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0.3);

    &:visited {
        color: #4c2c92;
    }

    &:link {
        color: #005ea5;
    }

    &:focus {
        @include focus-state();
    }
}

h1,
h2 {
    font-family: $fontSecondary;
    font-weight: 800;
}

h1,
h2 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin: 0 0 30px 0;

    @include breakpoint($tablet_lrg) {
        font-size: 3.2rem;
        line-height: 4rem;
    }
}

p {
    font-family: $fontPrimary;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin: 0 0 20px 0;

    @include breakpoint($tablet_lrg) {
        font-size: 2rem;
        line-height: 3.2rem;
    }

    &.intro {
        font-family: $fontSecondary;
        font-size: 1.9rem;
        line-height: 2.9rem;

        @include breakpoint($tablet_lrg) {
            font-size: 2.6rem;
            line-height: 3.5rem;
        }
    }
}

blockquote {
    p {
        font-family: $fontSecondary;
        font-size: 2.2rem;
        line-height: 3rem;

        @include breakpoint($tablet_lrg) {
            font-size: 2.6rem;
            line-height: 3.5rem;
        }

        &:after {
            content: '"';
        }

        &:before {
            content: '"'
        }
    }

    footer {
        font-size: 1.6rem;
        line-height: 1.5;

        &:before {
            border-top: 6px solid;
            content: '';
            display: block;
            height: 0;
            margin-bottom: 20px;
            width: 70px;
        }

        strong {
            display: block;
        }
    }
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}