@mixin focus-state($offset: 0) {
    background-color: transparent;
    outline: 3px solid #ffbf47;
    outline-offset: $offset;
}

@mixin clearfix {
    &:before,
    &:after{
        content: " ";
        display: table;
    }

    &:after{
        display: block;
        clear: both;
        height: 1px;
        margin-top: -1px;
        visibility: hidden;
    }
    & {
        *zoom: 1;
    }
}

@mixin max-width-container {
    margin: 0 auto;
    max-width: $maxWidth + 40px;
}

@mixin row() {
    @include clearfix;
    margin: 0 -#{$gutter};
}

@mixin column($width: 0, $pull: left) {
    @include clearfix;
    float: $pull;
    margin: 0 $gutter;
    width: calc(#{percentage($width)} - #{$gutter*2});
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}