@mixin focus-state($offset: 0) {
    background-color: transparent;
    outline: 3px solid #ffbf47;
    outline-offset: $offset;
}

@mixin clearfix {
    &:before,
    &:after{
        content: " ";
        display: table;
    }

    &:after{
        display: block;
        clear: both;
        height: 1px;
        margin-top: -1px;
        visibility: hidden;
    }
    & {
        *zoom: 1;
    }
}

@mixin max-width-container {
    margin: 0 auto;
    max-width: $maxWidth + 40px;
}

@mixin row() {
    @include clearfix;
    margin: 0 -#{$gutter};
}

@mixin column($width: 0, $pull: left, $gutterSize: $gutter) {
    @include clearfix;
    float: $pull;
    margin: 0 $gutterSize;
    width: calc(#{percentage($width)} - #{$gutter*2});
}

@mixin decorateWithTopBorder($color: $red) {
    border-top: 6px solid $color;
}

@mixin decorateWithLine($color: $red, $position: after, $marginBottom: 0) {
    &:#{$position} {
        border-top: 4px solid $red;
        content: '';
        display: block;
        height: 0;
        margin-bottom: $marginBottom;
        margin-top: 25px;
        width: 70px;

        @include breakpoint($tablet) {
            border-width: 7px;
        }
    }
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}