.content-two-col {
    @include max-width-container;
    margin-bottom: 40px;

    &__inner {
        @include clearfix;

        @include breakpoint($mobile_lrg) {
            @include row();
        }
    }

    &__first {
        @include breakpoint($mobile_lrg) {
            @include column(6/12);
        }

        &.no-padding {
            padding-right: 0 !important;
        }
    }

    &__last {
        @include breakpoint($mobile_lrg) {
            @include column(6/12);
        }
    }

    &--reversed {
        .content-two-col__first {
            @include breakpoint($mobile_lrg) {
                float: right;
            }
        }

        .content-two-col__last {
            @include breakpoint($mobile_lrg) {
                float: left;
            }
        }
    }

    &--stacked-left {
        .content-two-col__first {
            @include breakpoint($mobile_lrg) {
                @include column(7/12);
                padding-right: 40px;
            }
        }

        .content-two-col__last {
            @include breakpoint($mobile_lrg) {
                @include column(5/12);
            }
        }
    }

    &--middle-align {
      margin-bottom: 0;

        @include breakpoint($mobile_lrg) {
          margin-bottom: 40px;
        }

      .content-two-col__inner {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;

        @include breakpoint($mobile_lrg) {
          flex-direction: row;
        }

        .content-two-col__last {
            margin: auto;
        }

        .image--spaced {
            padding-right: 0 !important;
            margin: auto 0;

            @include breakpoint($mobile_lrg) {
              padding-right: 50px !important;
            }
        }
      }
    }

    &--two-thirds-left {
        .content-two-col__first {
            @include breakpoint($mobile_lrg) {
                @include column(6/12);
            }

            @include breakpoint($tablet) {
                @include column(8/12);
            }
        }

        .content-two-col__last {
            @include breakpoint($mobile_lrg) {
                @include column(6/12);
            }

            @include breakpoint($tablet) {
                @include column(4/12);
            }
        }
    }

  &__equal {
    margin-bottom: 40px;

    @include breakpoint($mobile_lrg) {
      width: 50%;
      padding: 0 40px 20px 40px;
      margin-bottom: 0;
    }
  }
}