.content-two-col {
    @include max-width-container;
    margin-bottom: 40px;

    &__inner {
        @include clearfix;

        @include breakpoint($mobile_lrg) {
            @include row();
        }
    }

    &__first {
        @include breakpoint($mobile_lrg) {
            @include column(6/12);
        }
    }

    &__last {
        @include breakpoint($mobile_lrg) {
            @include column(6/12);
        }
    }

    &--reversed {
        .content-two-col__first {
            @include breakpoint($mobile_lrg) {
                float: right;
            }
        }

        .content-two-col__last {
            @include breakpoint($mobile_lrg) {
                float: left;
            }
        }
    }

    &--stacked-left {
        .content-two-col__first {
            @include breakpoint($mobile_lrg) {
                @include column(7/12);
                padding-right: 40px;
            }
        }

        .content-two-col__last {
            @include breakpoint($mobile_lrg) {
                @include column(5/12);
            }
        }
    }

    &--two-thirds-left {
        .content-two-col__first {
            @include breakpoint($mobile_lrg) {
                @include column(6/12);
            }

            @include breakpoint($tablet) {
                @include column(8/12);
            }
        }

        .content-two-col__last {
            @include breakpoint($mobile_lrg) {
                @include column(6/12);
            }

            @include breakpoint($tablet) {
                @include column(4/12);
            }
        }
    }
}